@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #ff2a70;

  --content-w-desktop: 1440px;
  --content-w-mobile: 352px;
  --grid-col-desktop: 1fr minmax(0, var(--content-w-desktop)) 1fr;
  --grid-col-mobile: 1fr minmax(0, var(--content-w-mobile)) 1fr;
}

@theme inline {
  /* For colors: example usage = text-foreground (for color) */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  /* For font: use "font-sans" for font-family. */
  --font-sans: var(--font-ubuntu-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #ff2a70;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-ubuntu-sans), sans-serif;
  }

  main {
    /* @apply ...; Tailwind way of pre-adding classes  */
    /* Main will have the classes: display: grid; grid-template-columns: var(--grid-col-desktop); min-height: 100dvh; */
    /* On Mobile, using "max-md:" which applies a media query at max 768 px width */
    /* (Mobile Breakpoint) I apply min-height: 100svh; and grid-template-columns: var(--grid-col-mobile); */
    @apply grid min-h-dvh grid-cols-(--grid-col-desktop) max-md:min-h-svh max-md:grid-cols-(--grid-col-mobile);

    > * {
      /* All direct descendants gets placed in the minmax column. */
      @apply col-start-2 col-end-auto;
    }
  }
}
