@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
  --accent: #FF2A70;

  --content-w-desktop: 1440px;
  --content-w-mobile: 352px;
  --grid-col-desktop: 1fr minmax(0, var(--content-w-desktop)) 1fr;
  --grid-col-mobile: 1fr minmax(0, var(--content-w-mobile)) 1fr;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-ubuntu-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
    --accent: #FF2A70;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-sans), sans-serif;
}

main {
  @apply grid grid-cols-(--grid-col-desktop) max-md:grid-cols-(--grid-col-mobile) min-h-dvh max-md:min-h-svh;

  > * {
    @apply col-start-2 col-end-auto;
  }
}


